blinker==1.9.0
click==8.4.1
Flask==2.3.3
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.2
pillow==10.4.0
psycopg2-binary==2.9.9
py4j==0.10.9.7
pyotp==2.9.0
pypng==0.20220715.0
pyspark==3.5.1
python-dotenv==1.2.2
qrcode==7.4.2
SQLAlchemy==2.0.50
typing_extensions==4.15.0
Werkzeug==3.1.8
